# Object files
*.o
*.obj
*.elf

# N64 ROM files
*.z64
*.n64
*.v64

# Binaries
*.bin
*.ovl

# Build directory
build/*

# Visual Studio Code
.vscode/*

# Executables and tools
*.exe
tools/ido71/*
tools/nOVL/*

# Don't ignore any ".gitkeep" files
!.gitkeep
